{:highlights [{:id #uuid "67bc010e-27f4-4ec3-87b5-7bf3a77bb1c3",
               :page 7,
               :position {:bounding {:x1 71.3984375,
                                     :y1 680.5,
                                     :x2 249.24827575683594,
                                     :y2 695,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 71.3984375,
                                   :y1 680.5,
                                   :x2 249.24827575683594,
                                   :y2 695,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 7},
               :content {:text "Recommended learning resources"},
               :properties {:color "red"}}
              {:id #uuid "67bc044a-e286-4dd7-84ca-bd3fd9402d13",
               :page 1,
               :position {:bounding {:x1 463.125,
                                     :y1 551.96875,
                                     :x2 714.2708740234375,
                                     :y2 571.96875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 463.125,
                                   :y1 551.96875,
                                   :x2 714.2708740234375,
                                   :y2 571.96875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 1},
               :content {:text "SIT215 Computational Intelligence"},
               :properties {:color "red"}}
              {:id #uuid "67bc0702-c316-4b4e-8c20-6330bf82796e",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 333.328125,
                                     :x2 463.8564453125,
                                     :y2 362.890625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 333.328125,
                                   :x2 86.0703125,
                                   :y2 347.828125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 333.328125,
                                   :x2 193.6953125,
                                   :y2 347.828125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 333.328125,
                                   :x2 463.8564453125,
                                   :y2 347.828125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 348.390625,
                                   :x2 242.27120971679688,
                                   :y2 362.890625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "1 3 March 2025 Introduction to Computational Intelligence, AI and Agents"},
               :properties {:color "red"}}
              {:id #uuid "67bc0742-666e-43f0-a903-532e8ea74e31",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 371.09375,
                                     :x2 322.927001953125,
                                     :y2 385.59375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 371.09375,
                                   :x2 92.296875,
                                   :y2 385.59375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 371.09375,
                                   :x2 322.927001953125,
                                   :y2 385.59375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "2# 10 March 2025 Problem Solving Part 1"},
               :properties {:color "red"}}
              {:id #uuid "67bc0763-2744-42d4-a59e-6f7bea921d04",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 393.7890625,
                                     :x2 322.927001953125,
                                     :y2 408.2890625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 393.7890625,
                                   :x2 86.0703125,
                                   :y2 408.2890625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 393.7890625,
                                   :x2 322.927001953125,
                                   :y2 408.2890625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "3 17 March 2025 Problem Solving Part 2"},
               :properties {:color "red"}}
              {:id #uuid "67bc07a0-fba4-4b52-bacb-7dc2283a105f",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 416.4921875,
                                     :x2 367.6911926269531,
                                     :y2 430.9921875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 416.4921875,
                                   :x2 86.0703125,
                                   :y2 430.9921875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 416.4921875,
                                   :x2 367.6911926269531,
                                   :y2 430.9921875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "4 24 March 2025 Solution Quality and Evaluation"},
               :properties {:color "red"}}
              {:id #uuid "67bc07c3-9599-442d-acc2-d5b24f3f164c",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 439.1875,
                                     :x2 374.775146484375,
                                     :y2 453.6875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 439.1875,
                                   :x2 86.0703125,
                                   :y2 453.6875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 439.1875,
                                   :x2 374.775146484375,
                                   :y2 453.6875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "5 31 March 2025 Knowledge and Reasoning Part 1"},
               :properties {:color "red"}}
              {:id #uuid "67bc07e1-7c43-457b-9934-cce0ac1e95f1",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 461.78125,
                                     :x2 374.775146484375,
                                     :y2 476.28125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 461.78125,
                                   :x2 86.0703125,
                                   :y2 476.28125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 461.78125,
                                   :x2 184.625,
                                   :y2 476.28125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 461.78125,
                                   :x2 374.775146484375,
                                   :y2 476.28125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "6 7 April 2025 Knowledge and Reasoning Part 2"},
               :properties {:color "red"}}
              {:id #uuid "67bc07fd-ec04-4885-b512-c272c34dcb4f",
               :page 8,
               :position {:bounding {:x1 501.5234375,
                                     :y1 461.78125,
                                     :x2 662.830322265625,
                                     :y2 491.4453125,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 501.5234375,
                                   :y1 461.78125,
                                   :x2 662.830322265625,
                                   :y2 476.28125,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 501.5234375,
                                   :y1 476.9453125,
                                   :x2 627.6964111328125,
                                   :y2 491.4453125,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Assessment 1: Problem solving task due Sunday 13 April"},
               :properties {:color "yellow"}}
              {:id #uuid "67bc0807-ecbd-41b2-8ac4-6e69df6c2614",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 499.6484375,
                                     :x2 341.66510009765625,
                                     :y2 514.1484375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 499.6484375,
                                   :x2 98.59375,
                                   :y2 514.1484375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 499.6484375,
                                   :x2 191,
                                   :y2 514.1484375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 499.6484375,
                                   :x2 341.66510009765625,
                                   :y2 514.1484375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "7*~ 14 April 2025 Planning and Action Part 1"},
               :properties {:color "red"}}
              {:id #uuid "67bc0822-b162-4717-b320-6a01a62ad9ba",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 522.2421875,
                                     :x2 341.66510009765625,
                                     :y2 536.7421875,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 522.2421875,
                                   :x2 86.0703125,
                                   :y2 536.7421875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 522.2421875,
                                   :x2 191,
                                   :y2 536.7421875,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 522.2421875,
                                   :x2 341.66510009765625,
                                   :y2 536.7421875,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "8 28 April 2025 Planning and Action Part 2"},
               :properties {:color "red"}}
              {:id #uuid "67bc083b-cb4c-4527-81d3-a0fc2debb589",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 544.9375,
                                     :x2 330.00836181640625,
                                     :y2 559.4375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 544.9375,
                                   :x2 86.0703125,
                                   :y2 559.4375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 544.9375,
                                   :x2 183.046875,
                                   :y2 559.4375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 544.9375,
                                   :x2 330.00836181640625,
                                   :y2 559.4375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "9 5 May 2025 Performance Evaluation"},
               :properties {:color "red"}}
              {:id #uuid "67bc0896-2d4c-4755-9857-39ddb9c6ca51",
               :page 8,
               :position {:bounding {:x1 501.5234375,
                                     :y1 544.9375,
                                     :x2 705.95166015625,
                                     :y2 559.4375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 501.5234375,
                                   :y1 544.9375,
                                   :x2 705.95166015625,
                                   :y2 559.4375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Assessment 2: Quiz due Sunday 11 May"},
               :properties {:color "yellow"}}
              {:id #uuid "67bc094c-8c86-4c27-8dc6-44c56b1ec904",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 567.640625,
                                     :x2 307.3060302734375,
                                     :y2 582.140625,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 567.640625,
                                   :x2 92.4453125,
                                   :y2 582.140625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 567.640625,
                                   :x2 189.421875,
                                   :y2 582.140625,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 567.640625,
                                   :x2 307.3060302734375,
                                   :y2 582.140625,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "10 12 May 2025 Learning Paradigms"},
               :properties {:color "red"}}
              {:id #uuid "67bc0969-8f82-43f1-8b7a-88a8502f05c7",
               :page 8,
               :position {:bounding {:x1 76.1171875,
                                     :y1 590.3359375,
                                     :x2 324.8060607910156,
                                     :y2 604.8359375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 76.1171875,
                                   :y1 590.3359375,
                                   :x2 92.4453125,
                                   :y2 604.8359375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 119.3984375,
                                   :y1 590.3359375,
                                   :x2 161,
                                   :y2 604.8359375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 207,
                                   :y1 590.3359375,
                                   :x2 324.8060607910156,
                                   :y2 604.8359375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "11 19 May Review and Conclusion"},
               :properties {:color "red"}}
              {:id #uuid "67bc0981-d228-4aea-a4f2-ea6effaeb205",
               :page 8,
               :position {:bounding {:x1 501.5234375,
                                     :y1 590.3359375,
                                     :x2 694.2435302734375,
                                     :y2 619.8984375,
                                     :width 750,
                                     :height 1060.7067262464723},
                          :rects ({:x1 501.5234375,
                                   :y1 590.3359375,
                                   :x2 694.2435302734375,
                                   :y2 604.8359375,
                                   :width 750,
                                   :height 1060.7067262464723}
                                  {:x1 501.5234375,
                                   :y1 605.3984375,
                                   :x2 524.0408325195312,
                                   :y2 619.8984375,
                                   :width 750,
                                   :height 1060.7067262464723}),
                          :page 8},
               :content {:text "Assessment 3: Project due Sunday 25 May"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
