{:highlights [{:id #uuid "67bfea40-6cd7-4a24-86ec-ba25dc17fb89",
               :page 1,
               :position {:bounding {:x1 6.703125,
                                     :y1 189.0234375,
                                     :x2 19.85881233215332,
                                     :y2 212.0234375,
                                     :width 788.9999999999999,
                                     :height 1817.983991462113},
                          :rects ({:x1 6.703125,
                                   :y1 189.0234375,
                                   :x2 19.85881233215332,
                                   :y2 212.0234375,
                                   :width 788.9999999999999,
                                   :height 1817.983991462113}),
                          :page 1},
               :content {:text "L"},
               :properties {:color "red"}}],
 :extra {:page 1}}
